-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: laundry_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `laporan`
--

DROP TABLE IF EXISTS `laporan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laporan` (
  `id_laporan_periode` int NOT NULL AUTO_INCREMENT,
  `id_order` int NOT NULL,
  `id_user` int NOT NULL,
  `periode_bulan` int NOT NULL,
  `periode_tahun` int NOT NULL,
  `total_harga` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_laporan_periode`),
  KEY `id_order` (`id_order`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `laporan_ibfk_1` FOREIGN KEY (`id_order`) REFERENCES `orders` (`id_order`) ON DELETE CASCADE,
  CONSTRAINT `laporan_ibfk_2` FOREIGN KEY (`id_user`) REFERENCES `user` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan`
--

LOCK TABLES `laporan` WRITE;
/*!40000 ALTER TABLE `laporan` DISABLE KEYS */;
INSERT INTO `laporan` VALUES (1,1,4,4,2026,40000.00),(2,2,4,4,2026,34200.00),(3,3,4,4,2026,32000.00),(4,4,4,4,2026,60000.00),(5,5,4,4,2026,40000.00),(6,6,4,4,2026,8000.00),(7,7,4,4,2026,8000.00),(8,8,4,4,2026,32000.00),(9,9,4,4,2026,6000.00),(10,10,5,4,2026,8000.00),(11,11,5,4,2026,8000.00),(12,12,4,4,2026,57000.00),(13,13,4,4,2026,8000.00),(14,14,5,4,2026,75000.00),(16,15,5,4,2026,100000.00),(17,17,7,4,2026,6000.00),(18,16,7,4,2026,16000.00);
/*!40000 ALTER TABLE `laporan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `layanan`
--

DROP TABLE IF EXISTS `layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `layanan` (
  `id_layanan` int NOT NULL AUTO_INCREMENT,
  `nama_layanan` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `harga_per_kg` decimal(10,2) NOT NULL,
  `estimasi_hari` int NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_layanan`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `layanan`
--

LOCK TABLES `layanan` WRITE;
/*!40000 ALTER TABLE `layanan` DISABLE KEYS */;
INSERT INTO `layanan` VALUES (1,'Cuci Reguler',8000.00,2,'Cuci + pengeringan, tanpa setrika. Pakaian bersih dan wangi.'),(2,'Cuci + Setrika',12000.00,2,'Cuci, kering, dan setrika rapi. Pakaian siap pakai.'),(3,'Setrika Saja',6000.00,1,'Setrika pakaian saja. Cepat dan rapi.'),(4,'Dry Cleaning',25000.00,3,'Pembersihan khusus untuk pakaian formal, jas, dan bahan sensitif.'),(5,'Express 1 Hari',20000.00,1,'Layanan kilat selesai dalam 1 hari.'),(6,'Selimut & Bed Cover',15000.00,2,'Cuci khusus untuk selimut dan bed cover besar.');
/*!40000 ALTER TABLE `layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id_order` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_layanan` int NOT NULL,
  `tanggal_order` date NOT NULL,
  `status_order` enum('pending','proses','selesai','diambil') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `harga_snapshot` decimal(10,2) NOT NULL,
  `berat_cucian` decimal(10,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `pickup_date` date DEFAULT NULL,
  `pickup_time` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pickup_address` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_order`),
  KEY `id_user` (`id_user`),
  KEY `id_layanan` (`id_layanan`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `user` (`id_user`) ON DELETE CASCADE,
  CONSTRAINT `orders_ibfk_2` FOREIGN KEY (`id_layanan`) REFERENCES `layanan` (`id_layanan`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaran`
--

DROP TABLE IF EXISTS `pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembayaran` (
  `id_pembayaran` int NOT NULL AUTO_INCREMENT,
  `id_order` int NOT NULL,
  `metode` enum('gopay','dana','bca','bri','mandiri','bni','tunai','saldo') COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah_bayar` decimal(10,2) NOT NULL,
  `status_bayar` enum('belum_bayar','pending','lunas') COLLATE utf8mb4_unicode_ci DEFAULT 'belum_bayar',
  `bukti_bayar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomor_transaksi` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_pembayaran` datetime DEFAULT NULL,
  `bukti_pembayaran` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_pembayaran` text COLLATE utf8mb4_unicode_ci,
  `tanggal_verifikasi` datetime DEFAULT NULL,
  PRIMARY KEY (`id_pembayaran`),
  KEY `id_order` (`id_order`),
  CONSTRAINT `pembayaran_ibfk_1` FOREIGN KEY (`id_order`) REFERENCES `orders` (`id_order`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaran`
--

LOCK TABLES `pembayaran` WRITE;
/*!40000 ALTER TABLE `pembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `topup`
--

DROP TABLE IF EXISTS `topup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `topup` (
  `id_topup` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `nominal` decimal(10,2) NOT NULL,
  `metode` enum('gopay','dana','bca','bri','mandiri','bni','tunai') COLLATE utf8mb4_general_ci NOT NULL,
  `tanggal_topup` datetime NOT NULL,
  PRIMARY KEY (`id_topup`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `topup_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `user` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `topup`
--

LOCK TABLES `topup` WRITE;
/*!40000 ALTER TABLE `topup` DISABLE KEYS */;
INSERT INTO `topup` VALUES (1,5,500000.00,'tunai','2026-04-16 17:31:26'),(2,7,20000.00,'bca','2026-04-23 04:37:27');
/*!40000 ALTER TABLE `topup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_saldo`
--

DROP TABLE IF EXISTS `transaksi_saldo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi_saldo` (
  `id_transaksi` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_order` int DEFAULT NULL,
  `nominal` decimal(10,2) NOT NULL,
  `jenis` enum('topup','pembayaran','refund','penambahan_manual') COLLATE utf8mb4_general_ci NOT NULL,
  `status` enum('pending','sukses','gagal') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'sukses',
  `keterangan` text COLLATE utf8mb4_general_ci,
  `tanggal` datetime NOT NULL,
  PRIMARY KEY (`id_transaksi`),
  KEY `id_user` (`id_user`),
  KEY `id_order` (`id_order`),
  CONSTRAINT `transaksi_saldo_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `user` (`id_user`) ON DELETE CASCADE,
  CONSTRAINT `transaksi_saldo_ibfk_2` FOREIGN KEY (`id_order`) REFERENCES `orders` (`id_order`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_saldo`
--

LOCK TABLES `transaksi_saldo` WRITE;
/*!40000 ALTER TABLE `transaksi_saldo` DISABLE KEYS */;
INSERT INTO `transaksi_saldo` VALUES (1,4,13,8000.00,'pembayaran','sukses','Pembayaran order #13 via Saldo','2026-04-16 17:52:50'),(2,5,14,75000.00,'pembayaran','sukses','Pembayaran order #14 via Saldo','2026-04-16 18:01:56'),(3,7,NULL,20000.00,'topup','sukses','Top up via BCA','2026-04-23 04:37:27'),(4,7,17,6000.00,'pembayaran','sukses','Pembayaran order #17 via Saldo','2026-04-23 04:38:49');
/*!40000 ALTER TABLE `transaksi_saldo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_hp` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `role` enum('customer','worker','supervisor','admin') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'customer',
  `saldo` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-23  5:46:57
